# Ignore .env files
.env

# Ignore all .env files in subdirectories
**/.env

# Optional: Ignore backup or temporary files related to .env
.env.*

# Ignore log files and other temporary files
*.log
*.tmp
*.temp
*.swp

# Ignore ansible_lab
diveintoansible-lab/
